@font-face {
    font-family: "Open Sans Light";
    src: url(OpenSans-Light.ttf);
}
@font-face {
	font-family: "Open Sans Regular";
	src: url(OpenSans-Regular.ttf);
}

/* General */
body {
	font-family: "Open Sans Light";
	font-weight: 200;
	height: 100%;
	color: #454545;
}

h1 {
	font-family: 'Lato', sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #ffffff;
}

.container {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	z-index: 9990;
}

.content {
	top: 150px;
	background: rgba(231,76,60,0.9);
	height: 35vmax;
	width: 60%;
	border-radius: 5px;
 	box-shadow: 4px 4px 7px rgba(40, 40, 40, 0.2);
 	z-index: 9990;
}

/* Stripes */
.top-panel {
	position: relative;
}

.bottom-panel {
	position: relative;
	right: 0px;
	width: 100%;
	height: 50px;
}

.stripe-left {
  position: absolute;
  left: -8%;
  top: 15px;
  width: 35%;
  background-color: #ffffff;
  height: 50px;
  transform: skew(0deg) rotate(-35deg);
  box-shadow: 
        0px 11px 15px -10px rgba(0,0,0,0.3),
        0px -11px 15px -10px rgba(0,0,0,0.3); 
}
.stripe-right {
  position: absolute;
  bottom: 6px;
  right: -8%;
  width: 35%;
  background-color: #ffffff;
  height: 50px;
  transform: skew(0deg) rotate(-35deg);
  box-shadow: 
        0px 11px 15px -10px rgba(0,0,0,0.3),
        0px -11px 15px -10px rgba(0,0,0,0.3); 
}

.lg-div {
	height: 120px;
	width: 100%;
}

/* About me section */
#about-me p {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 60%;
	height: auto;
}

#bio {
	color: #ffffff;
}

/* Icons for github and linkedIn */
#icons {
	display: block;
	margin-top: 10px;
	width: 100%;
}
#icons img {
	display: inline-block;
	max-width: 60px;
}
#icons {
	display: flex;
  	justify-content: center;
  	align-items: center;
}

/* Randomly generated fact section */
#fun-fact {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 100px;
}
#fun-fact p {
	text-align: center;
	margin-bottom: 0px;
	max-width: 80%;
}
#random-fun-fact {
	font-family: "Open Sans Regular";
	font-weight: 800;
	color: #ffffff;
}
#fun-fact span {
	font-family: "Open Sans Light";
	font-weight: 200;
	color: #ffffff;
}
#get-new-fact {
	font-family: "Open Sans Light";
	font-weight: 200;
	font-size: small;
	color: #dadada;
}

/* ANIMATIONS - all credit to Alex Gurevich at fabriceleven.com */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: .7s;
-moz-animation-delay: .7s;
animation-delay: .7s;
}